<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <script>
      setTimeout(function () {
        window.location.href = "/artist/getall";
      }, 3000);
    </script>
  </head>
  <body>
    <h1>Delete Successful</h1>
    <p>Data has been successfully deleted.</p>
  </body>
</html>
